.project-card {
  margin: 20px auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

.project-link {
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-image {
  border-radius: 7px;
  max-height: 125px;
  width: fit-content;
  overflow: hidden;
}

.project-name {
  text-decoration: underline;
  font-size: 1.4em;
}

.techs-list {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
  flex-wrap: wrap;
  list-style: none;
  color: var(--tags-color);
}

.techs-list .project-tech {
  text-decoration: underline;
  padding: 0.3em;
}
