.social {
  height: fit-content;
  width: fit-content;
  background: var(--social-background);
  backdrop-filter: blur(2px);
  box-shadow: var(--social-boxshadow) 0px 0px 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: calc(50vh - 4.5em);
  left: 0;
  border-radius: 0 4px 4px 0;
}

.social ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}

.social ul li img {
  filter: invert(var(--icons-invert));
}

@media (prefers-color-scheme: dark) {
  .social {
    background-color: #1b1d37be;
    /* background-color: #8e98e2; */
    color: var(--dark-theme-font-color);
    box-shadow: #1b1d37be 0px 0px 10px;
  }

  .social ul li img {
    filter: invert(1);
  }
}

@media screen and (max-width: 425px) {
  .social {
    top: auto;
    bottom: 0;
    left: calc(50vw - 6em);
  }

  .social ul {
    flex-direction: row;
  }
}