.social {
  height: fit-content;
  width: fit-content;
  background: rgba(128,128,128,0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 20px rgba(16, 24, 40, 0.06);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: calc(50vh - 5.5em);
  right: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(128,128,128,0.2);
  z-index: 5;
}

.social ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 0.75em;
  padding: 10px;
}

.social ul li img {
  filter: invert(var(--icons-invert));
}

@media screen and (max-width: 425px) {
  .social {
    top: auto;
    bottom: 0.5rem;
    right: 0.5rem;
    left: auto;
  }

  .social ul {
    flex-direction: row;
  }
}