@import 'typed';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro&display=swap');

$layout-backgroud: #ffffffdd;
$sections-background: #ffffff66;
$pointer-background: #fff70032;

* {
  outline: none;
  caret-color: cornflowerblue;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(15 23 42);
}

.white {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: $pointer-background;
  clip-path: circle(100px at var(--x, 20%) var(--y, 20%));
  z-index: -1;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5))
}

#Pointer.white.transparent {
  background: $pointer-background;
  clip-path: circle(400px at var(--x, 20%) var(--y, 20%));
  .medium {
    background: $pointer-background;
    clip-path: circle(300px at var(--x, 20%) var(--y, 20%));
    .strong {
      background: $pointer-background;
      clip-path: circle(200px at var(--x, 20%) var(--y, 20%));
      .full {
        background: $pointer-background;
        clip-path: circle(100px at var(--x, 20%) var(--y, 20%));
      }
    }
  }
}

#Layout {
  margin: auto;
  background: $layout-backgroud;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 205px;
  height: 160px;
  margin: 0 0 3em 0;
  padding: 0;
}

#Navbar {
  height: 80vh;
  margin: auto;
  padding: 10vh 0;
  width: 400px;
  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    .icon {
      width: 212px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      overflow: hidden;
      img {
        color: #000;
        fill: #000;
      }
    }
    .name {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.9em;
    }
    .slogan {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.6em;
      font-weight: 500;
      margin: 5px 0;
    }
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: #000000;
  }
  h2 {
    font-size: 1.6em;
    span {
      @include typed("Full-Stack ","Back-End ","Front-End ", 1.3, (caret-width: 0px, caret-space: 2px, iterations: 1));
    }
  }
  .navbar-menu {
    padding: 0;
    list-style: none;
    .section {
      position: relative;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: max-content;
      height: max-content;
      line-height: 200%;
      span {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: black;
        margin-right: 5px;
        transition: all 0.3s;
      }
      a {
        color: black;
        text-decoration: none;
        transition: all 0.3s;
      }
      transition: all 0.3s;
    }
    .section.active {
      span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: black;
        margin-right: 10px;
        transition-property: all;
        transition-duration: 0.3s;
        transition: all 0.3s;
      }
      a {
        // color: rgb(0, 78, 173);
        font-size: 1.1em;
        font-weight: bold;
      }
      transition-property: all;
      transition-duration: 0.3s;
    }
    .section:hover {
      span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: black;
        margin-right: 10px;
        transition-property: all;
        transition-duration: 0.3s;
        // background-color: rgb(0, 78, 173);
      }
      a {
        font-size: 1.1em;
        font-weight: bold;
        transition: all 0.3s;
        color: #00000099;
      }
      transition: all 0.3s;
    }
 }
}

#Social ul {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  width: 10em;
  padding: 0;
  list-style: none;
}

#Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  height: calc(100vh - 5em);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 5em 2.5em 0 2.5em;
}

#About, #Experience, #Projects, #Contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.18em;
  margin-bottom: 2.5em;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
  h2 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px 40px 0 40px;
    align-self: self-start;
    font-size: 1.1em;
    margin: 0;
  }
}

#About {
  // figure {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
  //   span {
  //     width: 15em;
  //     border-radius: 50%;
  //     height: 15em;
  //     background-color: rgba(6, 6, 99, 0.3);
  //     position: absolute;
  //     margin: auto;
  //   }
  //   img {
  //     border-radius: 50%;
  //     width: 15em;
  //     height: 15em;
  //   }
  // }
  .about_me {
    padding: 0 40px;
  }
}

#Experience {
  .jobs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .job-card {
      display: flex;
      border-radius: .3em;
      margin: 1em 0;
    }
    .job-card a {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: calc(100% - 3em);
      min-height: 2em;
      border-radius: .3em;
      padding: 1em 1.5em;
      text-decoration: none;
      .timeline {
        display: block;
        height: 100%;
        width: fit-content;
        padding: 5px 10px 0 0;
        font-size: .7em;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.60);
      }
      .container {
        width: 70%;
      }
      .company {
        margin: 0;
        color: #000000dd;
      }
      .title {
        font-weight: bold;
        color: #000000aa;
      }
      .achievements {
        list-style: none;
        font-size: 0.8em;
        padding: 0;
        margin: 0.5em 0;
        li{
          position: relative;
          height: min-content;
          margin: 0;
          padding: 0.20em;
          color: #000000cc;
        }
      }
      ul {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .tech {
          list-style: none;
          font-size: 0.75em;
          background: rgba(0, 75, 140, 0.94);
          padding: 7px;
          border-radius: 1em;
          // border: 1px solid black;
          margin: 1px;
          color: #ffffffee;
        }
      } 
    }
    .job-card:hover {
      background: $sections-background;
      transition: all 0.7s;
    }
  }
}

#Projects {
  padding: 10px;
  .projects-list {
    padding: 0;
    list-style: none;
    margin: 1em 0;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    flex-direction: column;
  }
  .project-card {
    margin: 0.5em 0;
  }
  .project-card, .project-link {
    width: 100%;
    border-radius: 0.3em;
  }
  .project-link {
    padding: 0.5em 1.5em 0.5em 0.5em;
    width: calc(100% - 2em);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-decoration: none;
  }
  .project-image img {
    border-radius: 0.3em;
  }
  .project-body {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid #000000aa;
    padding-left: 0.5em;
  }
  .project-name {
    margin: 0;
    font-weight: bold;
    color: #000000dd;
  }
  .project-description {
    font-weight: bold;
    color: #000000aa;
    margin: 0.3em 0;
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .project-tech {
      list-style: none;
      font-size: 0.75em;
      background: rgba(0, 75, 140, 0.94);
      padding: 7px;
      border-radius: 1em;
      margin: 1px;
      color: #ffffffee;
    }
  }
  .project-link:hover {
    background: $sections-background;
    transition: all 0.7s;
  }
}

#Contact {
  margin: 10px 10px 5em 10px;
  height: max-content;
  .contact-form {
    background: $sections-background;
    border-radius: 0.4em;
    padding: 0 2em;
    width: calc(100% - 4em);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 300px;
    margin: 1em 0;
    p {
      font-family: 'Source Sans Pro';
      font-size: 1.2em;
      color: #000000aa;
      font-weight: 400;
      margin: 0;
    }
    label {
      font-size: 1.2em;
      font-weight: bold;
    }
    input, textarea, button {
      height: 2em;
      font-size: 1em;
      padding: 0 0.5em;
      border: none;
      border-radius: 0.3em;
      margin: 0.5em 0;
    }
    textarea {
      padding: 1em 0.5em;
      resize: none;
      font-family: 'Source Sans Pro', sans-serif;
    }
    input[type=text], input[type=email], textarea {
      background: #ffffff88;
      border-bottom: 2px solid rgba(0, 75, 140, 0.5);
    }
    input[type=submit], button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 75, 140, 0.94);
      color: #fffffffd;
      font-weight: 600;
      transition: all 0.5s ease-out;
    }
    .success {
      background: green;
      transition: all 0.5s ease-in;
    }
    .sending {
      background: gray;
      transition: all 0.5s ease-in;
    }
    .error {
      background: red;
      transition: all 0.5s ease-in;
    }
  }
}

@keyframes active_section {
  from, to {
    width: 40px;
    height: 2px;
    background-color: black;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 960px) {
  #Layout {
    overflow: auto;
  }
  #Navbar {
    .brand {
      width: 100%;
    }
    .job {
      text-align: center;
    }
    .navbar-menu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: max-content;
        line-height: 200%;
        span {
          position: absolute;
          bottom: 0;
          display: inline-block;
          width: 20px;
          height: 2px;
          background-color: black;
          margin: auto;
          transition: all 0.3s;
        }
        a {
          color: black;
          text-decoration: none;
          transition: all 0.3s;
        }
        transition: all 0.3s;
      }
      .section.active {
        span {
          width: 80%;
          height: 2px;
          background-color: black;
          transition: all 0.3s;
          margin: auto;
        }
      }
      .section:hover a {
        color: black;
      }
    }
  }
  #Social {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    border-bottom: 2px solid #000000;
  }
  #Content {
    height: max-content;
    width: fit-content;
  }
  .job-card {
    background: $sections-background;
    transition: all 0.3s;
  }
  #Projects {
    .projects-list {
      width: 100%;
      margin: 0;
    }
    .project-link {
      width: auto;
      background: $sections-background;
      transition: all 0.3s;
    }
  }
}

@media only screen and (max-width: 425px) {
  #Navbar {
    height: fit-content;
    margin: 0;
    padding: 20px;
    .navbar-menu {
      display: none;
    }
  }
  #Social ul {
    height: fit-content;
    margin: 0.7em;
  }
  #Content {
    padding: 0;
    h2 {padding: 0 10px;}
  }
  #About {
    .about_me {
      padding: 10px;
    }
  }
  #Experience {
    .jobs-list {
      .job-card a {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        .timeline {
          width: 100%;
        }
        .container {
          width: 100%;
        }
      }
    }
  }
  #Projects {
    .project-link {
      flex-wrap: wrap;
      border-radius: 0.3em;
      overflow: hidden;
      padding: 0;
    }
    .project-image {
      width: 100%;
      img {
        border-radius: 0;
        width: 100%;
        height: fit-content;
      }
    }
    .project-body {
      border: 0;
      margin: 0.5em 0;
      padding-left: 0.5em;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .project-name {
      font-size: 1.5em;
    }
  }
  #Contact .contact-form {
    padding: 0 10px;
    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 320px) {
  #About, #Experience, #Projects, #Contact {
    min-width: 300px;
  }
  #Contact {
    padding: 10px 0;
    width: calc(100% - 40px);
    .contact-form {
      min-width: 280px;
    }
  }
}