.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.5em;
  background: var(--background-color);
  color: var(--text-color);
}

.contact-form input, .contact-form textarea {
  height: 3em;
  padding: 10px 20px;
  border-radius: 10px;
  width: 25vw;
  border: 1px solid var(--fields-border);
  font-family: Ubuntu, sans-serif;
  background-color: var(--fields-background);
  color: var(--fields-color);
}

.contact-form textarea {
  height: auto;
  min-height: 3em;
  max-height: 8em;
  resize: vertical;
  field-sizing: content;
}

.contact-form button {
  background: var(--button-background);
  border: none;
  color: var(--button-color);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 10vw;
  height: 3em;
  border-radius: 10px;
}
